<% provide(:title, "Home") %>
<div class="container">
  <h3>
    <a href="#" style="text-decoration: none; color: white;">
    <span><i class="fab fa-hotjar"></i></span>
    HOT STORIES
    </a>
  </h3>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="big-card">
        <a href="#">
          <img src="<%= @hot_stories[0].img %>" alt="<%= @hot_stories[0].name %>" class="big-image-size">
          <div class="big-title">
            <p><%= @hot_stories[0].name %></p>
          </div>
        </a> 
      </div>
    </div>
    
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        
        <div class="row">
          <% @hot_stories[1..@hot_stories.count].each do |i| %>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <div class="card">
                <a href="#" >
                  <img src="<%= i.img %>" alt="<%= i.name %>" class="image-size">
                  <div class="title">
                    <p><%= i.name %></p>
                  </div>
                </a> 
              </div>
            </div>
          <% end %>    
      </div>
    </div>
  </div>
  <h3>
    <a href="#" style="text-decoration: none; color: white;">
    LIST STORIES >
    </a>
  </h3>
  
  <div class="row">
    <%= render  "story" %>
  </div>
  
  
  
</div>
