<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "truyenfull", root_path , class: "header-logo" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% categories.each do |i| %>
            <li><%= link_to  i.name, category_path(i) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= form_tag stories_path , method: :get, class:"navbar-form navbar-left" do |f| %>
        <%= text_field_tag :search, params[:search], class:"form-control" %>
        <%= button_tag type:"submit", class:"btn btn-default" do %>
          <span><i class="fas fa-search"></i><span>
        <% end %>
      <% end %> 
      <li><a href="#">    Login</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
